#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

#main_content {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

#login_block {
    padding: 1rem;
    background-color: #e8e8e8;
    width: 25%;
    padding-top: 2.3rem;
    border-radius: 15px;
}

.input_field {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_confirm {
    margin-top: 0.3rem;
    width: 50%;
    padding: 0.7rem 1rem;
    border-radius: 15px;
    border: 0;
    background-color: #3d963c;
    color: aliceblue;
}

.label_input_field {
    margin-bottom: 0.5rem;
}

#email, #password {
    text-align: center;
    padding: 0.7rem;
    border-radius: 15px;
    border: 0;
    width: 110%;
}

#forget_password {
    display: flex;
    justify-content: center;
}

#password_reset_link {
    text-decoration: 0;
    color: #3b8a2a;
    font-size: smaller;
}