body {
    background-color: #dadada;
    max-width: 1440px;
    margin: 0 auto;
}

#main_content {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

#email_block {
    display: flex;
    background-color: #e8e8e8;
    padding: 2rem 3rem;
    border-radius: 15px;
}

#password_reset_form {
    display: flex;
    flex-direction: column;
}

.input_field {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.label_input_field {
    margin-bottom: 0.5rem;
}

#email {
    text-align: center;
    padding: 0.7rem;
    border-radius: 15px;
    border: 0;
}

#send_confirm {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    border: 0;
    background-color: #3d963c;
    color: aliceblue;
}