{% extends 'products/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'products/css/homepage.css' %}">
{% endblock %}

{% block content %}
    <div id="side_bar">
        <h5 id="categories_head">Categories</h1>
        <ul id="main_list">
            {% for category in categories %}
                {% if not category.parent %}
                    <li>
                        <a class="category_link" href="{% url 'products:category' category.slug %}">
                            <p class="category_name">
                                {{ category.name }}
                            </p>
                        </a>
                    </li>
                    <ul class="category" id="{{ category.name }}">
                        {% for sub_category in categories %}
                            {% if sub_category.parent.name == category.name %}
                                <li class="sub_category" id="{{ sub_category.name }}">
                                    <a class="category_link" href="{% url 'products:category' sub_category.slug %}">
                                        <p class="sub_category_name">
                                            {{ sub_category.name }}
                                        </p>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div id="catalog">
        <div id="sales_table">
            <div class="sales_table_row">
                {% for sale in current_sales_row1 %}
                    <div class="sale_obj">
                        <a class="sale_link" href="{% url 'products:sale' sale.pk %}">
                        <img class="sale_preview" src="{{ sale.preview.url }}" alt="">
                        <p class="sale_name">{{ sale.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="sales_table_row">
                {% for sale in current_sales_row2 %}
                    <div class="sale_obj">
                        <a class="sale_link" href="{% url 'products:sale' sale.pk %}">
                            <img class="sale_preview" src="{{ sale.preview.url }}" alt="">
                            <p class="sale_name">{{ sale.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="hits_table">
            {% for hit in hits %}
                <div class="product_card">
                    <a class="sale_link" href="{% url 'products:product' hit.pk %}">
                        <img class="product_img" src="{{ hit.preview.url }}" alt="" class="product_preview">
                        <p class="product_name">{{ hit.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}