{% extends 'products/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'products/css/homepage.css' %}">
{% endblock %}

{% block content %}
    {% if categories %}
        <div id="side_bar">
            <h5 id="categories_head">{% if parent_category %} {{ parent_category.name }} {% else %}Categories{% endif %}</h1>
            <ul id="main_list">
                {% for category in categories %}
                    <li>
                        <a class="category_link" href="{% url 'products:category' category.slug %}">
                            <p class="category_name">
                                {{ category.name }}
                            </p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div id="catalog">

        <div id="sales_table">
            <div class="sales_table_row">
                {% for sale in allsales %}
                    <div class="sale_obj">
                        <a class="sale_link" href="{% url 'products:sale' sale.pk %}">
                            <img class="sale_preview" src="{{ sale.preview.url }}" alt="">
                            <p class="sale_name">{{ sale.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="hits_table">
            {% for hit in hits %}
                <div class="product_card">
                    <a class="sale_link" href="{% url 'products:product' hit.pk %}">
                        <img class="product_img" src="{{ hit.preview.url }}" alt="" class="product_preview">
                        <p class="product_name">{{ hit.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}