{% load static %}

<link rel="stylesheet" href="{% static 'products/css/navbar.css' %}">


<nav id="navigation_bar">
        <span id="homepage_link">
            <a class="menu_links" href="{% url 'products:homepage' %}">Webshop</a>
        </span>
        <span id="right_menu">
            {% if user.is_authenticated %}
                <span id="image_container">
                    <a id="profile_link" href="{% url 'accounts:personal_data' %}">
                        {% if user.profile.avatar %}
                            <img id="profile_img" src="{{user.profile.avatar.url}}">
                        {% else %}
                            <img id="profile_img" src="{% static 'accounts/img/default_images/default_profile_avatar.jpg'%}">    
                        {% endif %}
                    </a>
                </span>
                <span id="logout">
                    <a class="menu_links" href="{% url 'accounts:logout' %}">
                        Logout
                    </a>
                </span>
            {% else %}
                    <span id="login">
                        <a class="menu_links" href="{% url 'accounts:login' %}">
                            Login
                        </a>
                    </span>
                    <span id="register">
                        <a class="menu_links" href="{% url 'accounts:registration' %}">
                            Register
                        </a>
                    </span>
            {% endif %}
        </span>
    </div>
</nav>