{% extends "accounts/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}">
{% endblock %}

{% block title %} Reset password {% endblock %}

{% block content %}
    <div id="email_block">
        <form id="password_reset_form" method="post" action="{% url 'accounts:password_reset' %}">
            {% csrf_token %}
                <div class="input_field">
                    <label class="label_input_field" for="email">Email</label>
                    <input id="email" type="email" placeholder="Введите email" name="email" required>
                </div>
            <button id="send_confirm" type="submit">Сменить пароль</button>
        </form>
    </div>
{% endblock %}