{% extends "accounts/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'accounts/css/send_link.css' %}"> 
{% endblock %}

{% block title %} Done {% endblock %}

{% block content %}

<div id="reset_block">
    <form id="reset_form" method="post" action="{% url 'accounts:password_reset_done' reset_token=reset_token %}">
        {% csrf_token %}
        <div class="input_field">
            <label class="label_input_field" for="password">Пароль</label>
            <input id="password" class="input_field" type="password" placeholder="Введите пароль" name="password" required>
        </div>
        <div class="input_field">
            <label class="label_input_field" for="password_confirm">Подтверждение пароля</label>
            <input id="password_confirm" class="input_field" type="password" placeholder="Подтвердите пароль" name="password_confirm" required>
        </div>
        <button id="password_change_confirm" type="submit">Сменить пароль</button>
    </form>
</div>

{% endblock %}